.card{
    padding:20px;
}
.post_creator{
    font-size: large;
    padding : 5px;
    background-color : rgb(203, 255, 248);
    border:1px solid rgb(116, 116, 116);
    border-radius: 5px;
}
.post_title{
    position:relative;
    left : 10px;
    font-size:x-large;
}
.post_content{
    
    position:relative;
    left:10px;
}
.post_date{
    color : rgb(42, 138, 138);
}
.logo{
    width:20px;
    height:20px;
}
.logo_div{
    position:relative;
    top:20px;
}
