{% extends 'mathangoapp/layout.html' %}
{% load static %}
{% block scr %}
<script>
    var right = 0;
    
    document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('#time').style.opacity = 0.5;
    document.querySelector('#stop').hidden = "hidden";
    document.querySelector('#answer').disabled = true;        
    document.querySelector('#ans_btn').disabled = true;
    document.querySelector("#diflev").disabled = true;
    document.querySelector("#restart").hidden = "hidden";
    document.querySelector("#numpad").hidden = "hidden";
    });
    
    function submitq(){
        ans = document.querySelector("#answer").value;
        answer = document.querySelector('#timevar').className;
        if(ans === ''){
            ans = 0
        }
        fetch('/game?state=put&answer='+ans+'&correctans='+answer)

        .then(response => response.json())
        .then(message => {
            
            s = message.state;
            if(s.localeCompare('Incorrect') == 0){
            document.querySelector('#answer').value = "";
            document.querySelector('.box').style.borderColor = "red";
        
            }else if(s.localeCompare('Correct') == 0){
                right++;
                document.querySelector('#answer').value = "";
                document.querySelector('.box').style.borderColor = "green";
                getq();
                console.log(right);
            }
    
        });
        
        
    }

    function getq(){
        
            fetch('/game?state=get')
            .then(response => response.json())
            .then(d=>{
                document.querySelector("#timevar").className = d.ans;
                document.querySelector("#dq").innerHTML = d.a + " "+ d.sign +" "+d.b +" = ?";
            });
                
    }

document.addEventListener('click', event =>{
    const element = event.target;
    
    if(element.className === 'btn btn-primary num'){
        
        if(element.id === 'delete'){
        document.querySelector('#answer').value = (parseInt(parseInt(document.querySelector('#answer').value) / 10)).toString();}
        else if(element.title === "negativesign"){
            document.querySelector('#answer').value = (parseInt(parseInt(parseInt(document.querySelector('#answer').value) * (-1)))).toString();
        }
        
        else {
            document.querySelector('#answer').value = document.querySelector('#answer').value + element.value;
        }
    }
    if(element.id == "restart"){
        window.location.reload();
    }
    
    }
    
);


    

document.addEventListener('keypress', event => {
    if (event.key === 'Enter'){
        
        submitq();
    }
});


function confirmend(){
    fetch('/endgame/'+right +"/"+document.querySelector('#timevar').value);
    document.querySelector("#restart").hidden = null;
}


    var timecounter = 0;
    function resumetimer(){
        getq();
        document.querySelector('#answer').disabled = false;
        document.querySelector('#ans_btn').disabled = false;
        document.querySelector('#stop').hidden = null;
        document.querySelector('#time').style.opacity = 1;
        document.querySelector('#answer').focus();
        document.querySelector('#resume').hidden= "hidden";
        document.querySelector("#numpad").hidden = null;
        document.querySelector("#dq").hidden = null;
        document.querySelector('.box').style.borderColor = "green";
        var countDownDate = new Date( new Date().getTime() + timecounter);
                x= setInterval(function() {
            
            // Get current time
            var now = new Date().getTime();
            
            
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
            // Time calculations for days, hours, minutes and seconds
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            var milli = Math.floor((distance % 1000 )/10);
            // Display the result in the element with id="demo"
            document.querySelector("#time").innerHTML = minutes + " : " + seconds + " : "+ milli;

            //if the pause button is clicked
            document.querySelector("#stop").onclick = () => {
            clearInterval(x);    
            timecounter = distance;
            document.querySelector("#resume").hidden = null;
            document.querySelector("#stop").hidden = "hidden";
            document.querySelector('.box').style.borderColor = "rgb(69, 114, 211)";
            document.querySelector('#answer').disabled = true;
            document.querySelector('#ans_btn').disabled = true;
            document.querySelector("#numpad").hidden = "hidden";
            document.querySelector('#dq').hidden = "hidden";
            };
            // If the count down is finished
            if (distance < 0) {
                clearInterval(x);
                document.querySelector("#time").innerHTML = "TIME UP";
                document.querySelector("#time").style.color = "rgb(211, 71, 71)";
                document.querySelector("#time").parentElement.style.borderStyle = "solid"; 
                document.querySelector("#time").parentElement.style.borderColor = "rgb(211, 71, 71)";
                document.querySelector("#stop").disabled = true;
                document.querySelector('.box').style.borderColor = "rgb(69, 114, 211)";
                document.querySelector('#answer').disabled = true;
                document.querySelector("#numpad").hidden = "hidden";
            document.querySelector('#ans_btn').disabled = true;
            document.querySelector('#dq').hidden = "hidden";
            confirmend();
            }
            }, 1);
    }


    function starttimer(){
        time = document.querySelector("#timevar").value;
        time= time*1000
        console.log(time)
        getq();
    document.querySelector("#message").hidden = "hidden";
    document.querySelector('#time').style.opacity = 1;
    document.querySelector('#stop').hidden = null;
    document.querySelector('#start').hidden = "hidden";
    document.querySelector('#answer').disabled = false;
    document.querySelector('#answer').focus();                
    document.querySelector('#ans_btn').disabled = false;
    document.querySelector("#diflev").disabled = false;
    document.querySelector("#numpad").hidden = "";
    document.querySelector("#dq").hidden = "";    
    document.querySelector('.box').style.borderColor = "green";
        const start = new Date();
        var countDownDate = new Date(start.getTime() + time);
            // Update the count down every 1 second
            x= setInterval(function() {
                
            // Get current time
            var now = new Date().getTime();
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
        
            // Time calculations for days, hours, minutes and seconds
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            var milli = Math.floor((distance % 1000 )/10);
            // Display the result in the element with id="demo"
            document.querySelector("#time").innerHTML = minutes + " :: " + seconds + " :: "+ milli;
            
            //if the pause button is clicked
            document.querySelector("#stop").onclick = () => {
            clearInterval(x);  
            timecounter = distance;  
            document.querySelector("#resume").hidden = null;
            document.querySelector("#stop").hidden = "hidden";
            document.querySelector('.box').style.borderColor = "rgb(69, 114, 211)";
            document.querySelector('#answer').disabled = true;
            document.querySelector('#ans_btn').disabled = true;
            document.querySelector("#numpad").hidden = "hidden";
            document.querySelector("#dq").hidden = "hidden";
            };

            // If the count down is finished
            if (distance < 0) {
                document.querySelector("#numpad").hidden = "hidden";
                clearInterval(x);
                document.querySelector("#time").innerHTML = "TIME UP";
                document.querySelector("#time").style.color = "rgb(211, 71, 71)";
                document.querySelector("#time").parentElement.style.borderStyle = "solid"; 
                document.querySelector("#time").parentElement.style.borderColor = "rgb(211, 71, 71)";
                document.querySelector("#stop").disabled = true;
                document.querySelector('.box').style.borderColor = "rgb(69, 114, 211)";
                document.querySelector('#answer').disabled = true;
                document.querySelector("#numpad").hidden = "hidden";
            document.querySelector('#ans_btn').disabled = true;
            document.querySelector('#dq').hidden = "hidden";
            confirmend();
            }
            }, 1);
            
        }
    
</script>



{% endblock %}
{% block body %}

    <div class="box" >
    <a href="{% url 'index' %}" >
        <button style="background-color:white; border: 0;" title="Back to Main menu" id="exit">
            <img src="{% static 'mathangoapp/crossicon.png' %}" height="50px">
        </button>
    </a>
    <div class="{{ diff }}" id="diflev" style="position:relative; left:10%; width:50%;padding:10px;font-weight: 500;"><strong>Game time</strong> : {{ customtime }} seconds</div>
    
    <input type="hidden" class="" id="timevar" name="timehidden" value="{{ customtime }}">
    <div id="message" >Click on 'Start' button to start the game</div>
    <div>
        <button id="start" class="btn btn-success" style="position:relative;left:70%" onclick="starttimer()">Start</button>       <button id="stop" class="btn btn-warning" style="position:relative;left:70%;width:70px" >Pause</button>
        <button id="resume" class="btn btn-success" style="position:relative;left:70%;width:80px" hidden="hidden" onclick="resumetimer()">Resume</button>
        <div id="timebox" >
            <i class="gg-alarm"></i> <div id="time" >min :: s :: ms</div>
        </div>


            

    </div>

    <div id="dq" >
        
    </div>

    <div style="position:relative;margin:auto;padding:40px">
        <input type="number" class="form-control" placeholder="Enter your answer" id="answer">
        <br>
        <button class="btn btn-success" id="ans_btn" onclick="submitq()" style="width:60px; position:relative;left: 80%"><img src="{% static 'mathangoapp/nexticon.png' %}" style="height:20px;"></button> 
        <button class="btn btn-success" id="restart" style="width:90px"><i class="reload"></i>Play Again</button> 
    </div>
    <div id="numpad" aria-label="Select Difficulty" >
        <div><button type="button" class="btn btn-primary num" value="1" title="1">1</button></div>
        <div><button type="button" class="btn btn-primary num" value="2" title="2">2</button></div>
        <div><button type="button" class="btn btn-primary num" value="3" title="3">3</button></div>
        <div><button type="button" class="btn btn-primary num" value="4" title="4">4</button></div>
        <div><button type="button" class="btn btn-primary num" value="5" title="5">5</button></div>
        <div><button type="button" class="btn btn-primary num" value="6" title="6">6</button></div>
        <div><button type="button" class="btn btn-primary num" value="7" title="7">7</button></div>
        <div><button type="button" class="btn btn-primary num" value="8" title="8">8</button></div>
        <div><button type="button" class="btn btn-primary num" value="9" title="9">9</button></div>
        <div><button type="button" class="btn btn-primary num" value="-x" title="negativesign">-</button></div>
        <div><button type="button" class="btn btn-primary num" value="0" title="0" style="position:relative;left:0px">0</button></div>
        <div><button type="button" class="btn btn-primary num" id="delete" value="-1" title="delete" style="position:relative;left:70px">del</button></div>  
      </div>
      
</div>


{% endblock %}