
{% extends 'mathangoapp/layout.html' %}
{% block scr %}
<script>
    
    document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('#time').style.opacity = 0.5;
    document.querySelector('#stop').hidden = "hidden";
    document.querySelector('#answer').disabled = true;        
    document.querySelector('#ans_btn').disabled = true;
    document.querySelector("#diflev").disabled = true;
    document.querySelector("#digit").disabled = true;
    });
    
    function startgame(){
        starttimer();
        for(i; i < noofq; i++){

        }
    }
    var timecounter = 0;
    function resumetimer(){
        console.log(timecounter);
        document.querySelector('#answer').disabled = false;
            document.querySelector('#ans_btn').disabled = false;
        document.querySelector('#stop').hidden = null;
        document.querySelector('#time').style.opacity = 1;
        document.querySelector('#answer').focus();
        document.querySelector('#resume').hidden= "hidden";
        var countDownDate = new Date( new Date().getTime() + timecounter);
                x= setInterval(function() {
            document.querySelector('.flexbox').style.borderColor = "green";
            // Get current time
            var now = new Date().getTime();
            
            
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
            // Time calculations for days, hours, minutes and seconds
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            var milli = Math.floor((distance % 1000 )/10);
            // Display the result in the element with id="demo"
            document.querySelector("#time").innerHTML = minutes + " : " + seconds + " : "+ milli;
            document.querySelector("#stop").onclick = () => {
            clearInterval(x);    
            timecounter = distance;
            document.querySelector("#resume").hidden = null;
            document.querySelector("#stop").hidden = "hidden";
            document.querySelector('.flexbox').style.borderColor = "rgb(69, 114, 211)";
            document.querySelector('#answer').disabled = true;
            document.querySelector('#ans_btn').disabled = true;
            };
            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.querySelector("#time").innerHTML = "TIME UP";
                document.querySelector("#time").style.color = "rgb(211, 71, 71)";
                document.querySelector("#time").parentElement.style.borderStyle = "solid"; 
                document.querySelector("#time").parentElement.style.borderColor = "rgb(211, 71, 71)";
                document.querySelector("#stop").disabled = true;
                document.querySelector('.flexbox').style.borderColor = "rgb(69, 114, 211)";
                document.querySelector('#answer').disabled = true;
            document.querySelector('#ans_btn').disabled = true;
            }
            }, 1);
    }
    function starttimer(){
    document.querySelector("#message").hidden = "hidden";
    document.querySelector('#time').style.opacity = 1;
    document.querySelector('#stop').hidden = null;
    document.querySelector('#start').hidden = "hidden";
    document.querySelector('#answer').disabled = false;
    document.querySelector('#answer').focus();                
    document.querySelector('#ans_btn').disabled = false;
    document.querySelector("#diflev").disabled = false;
    document.querySelector("#digit").disabled = false;
        console.log('hehe working')
        
        const start = new Date();
        var countDownDate = new Date(start.getTime() + 10000);
        console.log(start)
        console.log(countDownDate)
            // Update the count down every 1 second
            x= setInterval(function() {
                document.querySelector('.flexbox').style.borderColor = "green";
            // Get current time
            var now = new Date().getTime();
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
        
            // Time calculations for days, hours, minutes and seconds
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            var milli = Math.floor((distance % 1000 )/10);
            // Display the result in the element with id="demo"
            document.querySelector("#time").innerHTML = minutes + " :: " + seconds + " :: "+ milli;
            document.querySelector("#stop").onclick = () => {
            clearInterval(x);  
            timecounter = distance;  
            document.querySelector("#resume").hidden = null;
            document.querySelector("#stop").hidden = "hidden";
            document.querySelector('.flexbox').style.borderColor = "rgb(69, 114, 211)";
            document.querySelector('#answer').disabled = true;
            document.querySelector('#ans_btn').disabled = true;
            };
            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.querySelector("#time").innerHTML = "TIME UP";
                document.querySelector("#time").style.color = "rgb(211, 71, 71)";
                document.querySelector("#time").parentElement.style.borderStyle = "solid"; 
                document.querySelector("#time").parentElement.style.borderColor = "rgb(211, 71, 71)";
                document.querySelector("#stop").disabled = true;
                document.querySelector('.flexbox').style.borderColor = "rgb(69, 114, 211)";
            }
            }, 1);
            
        }
</script>
{% endblock %}
{% block body %}

<div class="flexbox" style="position:relative;left:20%;width:100%; border-color:rgb(69, 114, 211); border-style: solid; border-radius: 25px;">
    <button class="btn btn-danger" style="background-color: rgb(202, 51, 51); position:relative;left:80%;width:100px;top:10px;height:60px;border-radius:30px;">Back to Main menu</button>
    <div class="{{ diff }}" id="diflev" style="position:relative; left:10%; width:600px;padding:10px;font-weight: 500;">Difficulty Level {{ diff }}</div>
    <div class="{{ digits }}" id="digit" style="position:relative; left:10%; width:600px;padding:10px; font-weight: 500;">{{ digits }} digit game</div>
    <div id="message" style="position:relative;left:30%;padding:10px;font-weight: 600;">Click on 'Start' button to start the game</div>
    <div>
        <button id="start" class="btn btn-success" style="position:relative;left:70%" onclick="starttimer()">Start</button>
        <button id="stop" class="btn btn-warning" style="position:relative;left:70%;width:70px" >Pause</button>
        <button id="resume" class="btn btn-success" style="position:relative;left:70%;width:80px" hidden="hidden" onclick="resumetimer()">Resume</button>
        <div style="position:relative;left:70%;padding:20px;top:10px; background-color: rgb(208, 225, 228);width:fit-content;border-radius: 30px;border-right-color: blue;">
            <i class="gg-alarm"></i> <div id="time" style="position:relative;font-size: larger;">0 :: 00 :: 00</div>
        </div>

        <script>

            </script>

    </div>
    <div id="dq" style="position:relative;top:auto">
    </div>
    <div style="position:relative;margin:auto;padding:40px">
        <input class="form-control" id="answer">
        <button class="btn btn-success" id="ans_btn" style="width:60px" onclick = "submitq">Next</button> 
    </div>
</div>

{% endblock %}