{% extends "mathangoapp/layout.html" %}
{% block body %}
    <div style="position:relative;left:50%">
        <h1 style="width:fit-content">Play</h1>
    </div>
    <hr>
    <h3 style="position:relative;left:40%">Select Game</h3>
        <form action="{% url 'creategame' %}" id="gameform" method="get">
            {% csrf_token %}
            <div id="difficulty" class="input-group mb-3" style="position:relative;width:50%" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Enter Difficulty</span>
                </div>
                <input class="form-control" type="number" value="1" name="difficulty" min="1" max="10">
            </div>
            <div class="input-group mb-3" style="position:relative;left:30%;width:40%;">
            <div class="input-group-prepend" style="position:relative;">
               <span class="input-group-text">Enter Number of Digits </span>
             </div>
             <div style="left:auto">
             <input type="number" class="form-control" value="1" name="digits" min="1" max="6">
             </div>
            </div>
            <div class="input group mb-3" style="position:relative;left:40%">
            <button class="btn btn-primary" type="submit" value="submit" id="submit" name="submit">Play</button>
            </div>
        </form>
        <hr>
        <h3 id="header2" >Information and Rules:</h3>

            <div id="rules">
                <ul>
                    <li> Players have to answer certain no. of mental-math questions within a stipulated time</li>
                    <li> Players can select a difficulty level. Higher the difficulty level, higher is the needed speed and accuracy</li>
                </ul>
            </div>
            <div id="dif_show" class="input-group mb-3" >
            <div id="span1" class="input-group-prepend" >
               <span class="input-group-text" > Info on Difficulty levels (Click to view) : </span>
             </div>
             <div class="flex-container"  aria-label="Select Difficulty" style="position:relative;margin-right:100px">
                <div><button type="button" class="btn btn-primary dif" value="1" title="have to answer 20 questions within 2 minutes">1</button></div>
                <div><button type="button" class="btn btn-primary dif" value="2" title="have to answer 20 questions within 1 minute 45 seconds">2</button></div>
                <div><button type="button" class="btn btn-primary dif" value="3" title="have to answer 20 questions within 1 minute 40 seconds">3</button></div>
                <div><button type="button" class="btn btn-primary dif" value="4" title="have to answer 20 questions within 1 minute 35 seconds">4</button></div>
                <div><button type="button" class="btn btn-primary dif" value="5" title="have to answer 20 questions within 1 minute 30 seconds" >5</button></div>
                <div><button type="button" class="btn btn-primary dif" value="6" title="have to answer 20 questions within 1 minute 30 seconds with time penalty of -3 seconds for each wrong answer">6</button></div>
                <div><button type="button" class="btn btn-primary dif" value="7" title="have to answer 20 questions within 1 minute 30 seconds with time penalty of -5 seconds for each wrong answer">7</button></div>
                <div><button type="button" class="btn btn-primary dif" value="8" title="have to answer 20 questions within 1 minute 25 seconds seconds with time penalty of -5 seconds for each wrong answer">8</button></div>
                <div><button type="button" class="btn btn-primary dif" value="9" title="have to answer 20 questions within 1 minute 20 seconds with time penalty of -5 seconds for each wrong answer">9</button></div>
                <div><button type="button" class="btn btn-primary dif" value="10" title="have to answer 20 questions within 1 minute with time penalty of -2 seconds for each wrong answer">10</button></div>
              </div>
        </div>
            
        <div id="diftext">
            
        </div>
        <hr>
        
    </div>

{% endblock %}