{% extends "network/layout.html" %}

{% block body %}
    <div style="margin-left:30px; margin-right:30px;" >
        <h2>Add Post</h2>
        <form action="{% url 'index' %}" method = "post">

            {% csrf_token %}

            <div class = "input-group mb-3">
             <div class="input-group-prepend">
                <span class="input-group-text">Title</span>
             </div>
             <input class= "form-control" type = "text" name = "title" id = "title">
            </div>

            <div class="input-group mb-3" style="height:50%">
             <div class="input-group-prepend" >
                <span class="input-group-text">Content</span>
              </div>
             <textarea class = "form-control" id = "body" name = "body"></textarea>
            </div>

            <input class = "form-control" type = "submit" value = "Post" class = "btn btn-primary-light " id = "submit" style = "width : 5%; background-color : rgb(93, 157, 241); color : white">

        </form>
    </div>
    <hr>
    <h2 style="position:relative;left:30%;padding:20px"> Recent Posts </h2>
    
    <div class = "container">
        {% for post in page_obj %}
        
        <div class="card">
            <a href ="{% url 'profile' post.creator.username %}?page=1" >
            <div class = "post_creator"><strong>{{ post.creator.username }}</strong></div>
            </a>
            <div class = "post_title">{{ post.title }}</div>
            <div class = "post_content">{{ post.content }}</div>
            <div class = "post_date" >{{ post.date }}</div>
                {% with posts as post.like.all() %}
                {% if user in posts %}
                <div id="{{ post.id }}" class="logo_div">
                    <img  id="liked" data-id="{{ post.id }}" class="logo" src = "https://cdn-icons-png.flaticon.com/512/1246/1246113.png?w=360">
                    <div id="no_of_likes_{{ post.id }}">{{ post.nooflikes }}</div>
                </div>
                {% else %}                
                <div  id="{{ post.id }}" class="logo_div">
                    <img id="like" data-id="{{ post.id }}" class="logo" src = "https://static.vecteezy.com/system/resources/previews/001/505/090/original/like-icon-free-vector.jpg">
                    <div id="no_of_likes_{{ post.id }}">{{ post.nooflikes }}</div>
                </div>
                {% endif %}
                {% endwith %}
                {% with posts as post.dislike.all()) %}
                {% if user in posts %}
                <div  id="{{ post.id }}" class="logo_div">
                    <img id="disliked" data-id="{{ post.id }}" class="logo" src = "https://flyclipart.com/thumb2/youtube-dislike-transparent-png-pictures-394667.png">
                    <div id="no_of_dislikes_{{ post.id }}">{{ post.noofdislikes }}</div>
                </div>                
                {% else %}                
                <div id="{{ post.id }}" class="logo_div">
                    <img  id="dislike" data-id="{{ post.id }}" class="logo" src = "https://static.vecteezy.com/system/resources/thumbnails/000/380/613/small/Basic_Elements__2827_29.jpg">
                    <div id="no_of_dislikes_{{ post.id }}">{{ post.noofdislikes }}</div>
                </div>
                {% endif %}
                {% endwith %}
                

            </div>
        
        {% endfor %}
        
    </div>
    <div style="position :relative; left : 30%; padding : 20px">
        Currently at page <strong>{{ page_number }}</strong> 
    </div>
    <div style="padding:20px">
    <nav aria-label="Page navigation example" style="position:relative; left : 30%">
        <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page=1"> Go to page 1 </a></li>
        {% if page_obj.has_previous %}  
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
          
         {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          {% endif %}
        </ul>
    </nav>
    </div>

{% endblock %}